<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom Style -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- VueJS -->
    <script src=https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.min.js></script>
    <title>BoolzApp</title>
</head>
<body>
    <div id="app">
        <div class="wrapper">
            <div class="main-container">
                <!-- MAIN GRID -->
                <div class="main-row">

                    <!-- LEFT COLUMN -->
                    <section class="main-col-left">

                        <!-- Header -->
                        <div class="mcl-header">
                            <div class="mcl-avatar">
                                <img src="img/avatar_io.jpg" alt="">
                                <span>Sofia</span>
                            </div>
                            <div class="mcl-icons">
                                <i class="fa-solid fa-rotate-right fa-xl" style="color: #7b808a;"></i>
                                <i class="fa-solid fa-message fa-xl" style="color: #7b808a;"></i>
                                <i class="fa-solid fa-ellipsis-vertical fa-xl" style="color: #7b808a;"></i>
                            </div>
                        </div>

                        <!-- Body -->
                        <div class="mcl-body">
                            
                            <!-- banner -->
                            <div class="notifications">
                                <div class="bell-circle">
                                    <i class="fa-solid fa-bell-slash fa-lg" style="color: #42b6f0;"></i>
                                </div>
                                <div>
                                    <h5>Ricevi notifiche di nuovi messaggi</h5>
                                    <a href="">Attiva notifiche desktop</a>
                                </div>
                            </div>
                            
                            <!-- search-bar -->
                            <div class="search-chat">
                                <i class="fa-solid fa-magnifying-glass " style="color: #7b808a;"></i>
                                <input class="search-bar" type="text" placeholder="Cerca o inizia una nuova chat"  >
                            </div>

                            <!-- main -->
                            <div class="chats">

                                <div v-for="(contact, index) in contacts" class="avatar-chat-box" @click="activeChat(index)" >
                                    <img :src="`img/avatar${contact.avatar}.jpg`" >    
                                    <div class="conversation">
                                        <h5>{{contact.name}}</h5>
                                        <span>{{contact.messages[contact.messages.length - 1].message}}</span>
                                    </div>
                                    <div>
                                        <span>{{contact.messages[contact.messages.length -1].date}}</span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </section>

                    <!-- RIGHT COLUMN -->
                    <section class="main-col-right">

                        <!-- Header -->
                        <div class="mcr-header">
                            <img :src="`img/avatar${contacts[chatShown].avatar}.jpg`">
                            <div class="mcr-avatar-status">
                                <h5>{{contacts[chatShown].name}}</h5>
                                <span>Ultimo accesso il: {{contacts[chatShown].messages[contacts[chatShown].messages.length - 1].date}}</span>
                            </div>
                            <div class="mcr-icons">
                                <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #7b808a;"></i>
                                <i class="fa-solid fa-message fa-xl" style="color: #7b808a;"></i>
                                <i class="fa-solid fa-paperclip fa-xl" style="color: #7b808a;"></i>
                            </div>
                        </div>

                        <!-- Body -->
                        <div class="mcr-body">
                            <div v-for="(message, index) in contacts[chatShown].messages" class="messages-row" :class="message.status">
                                <div class="message" @mouseenter="showChevron" @mouseleave="hideChevron">
                                    <p>{{message.message}}</p>
                                    <i class="fa fa-chevron-down msg-chevron" v-show="isChevronVisible" @click="openMenu(index)"></i>
                                    <div class="msg-menu" v-show="MenuOpenActive === index">
                                        <div class="menu-option">
                                            <span @click="deleteMessage(index)">Elimina messaggio</span>
                                            <span @click="showInfo(index)">Mostra info</span>
                                        </div>
                                    </div>
                                    <p class="msg-date">{{ getDateTime(message.date) }}</p>
                                </div>
                            </div>
                           
                        </div>

                        <!-- Footer -->
                        <div class="mcr-footer">
                            <div class="mcr-f-icons">
                                <i class="fa-regular fa-face-smile fa-xl" style="color: #7b808a;"></i>
                            </div>
                            <label></label>
                            <input class="msg-box" v-model.trim="newMessage" @keyup.enter ="sendMessage" type="text" placeholder="Scrivi un messaggio" onfocus="this.value=''">
                            <i class="fa-sharp fa-solid fa-paper-plane fa-xl" style="color: #7b808a;" @click="sendMessage"></i>
                            <i class="fa-solid fa-microphone fa-xl" style="color: #7b808a;"></i>
                        </div>
                    </section>
                </div>
            </div>
        </div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>